---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: radarr
  name: radarr
  namespace: radarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: radarr
  template:
    metadata:
      labels:
        app: radarr
    spec:
      containers:
      - envFrom:
        - configMapRef:
            name: radarr-cm
        image: lscr.io/linuxserver/radarr:latest
        imagePullPolicy: Always
        name: radarr
        ports:
        - containerPort: 7878
          protocol: TCP
        volumeMounts:
        - mountPath: /config
          name: radarr-data
          subPath: config
        - mountPath: /data/downloads
          name: radarr-data
          subPath: downloads
        - mountPath: /data/movies
          name: radarr-data
          subPath: movies
      volumes:
        - persistentVolumeClaim:
            claimName: radarr
          name: radarr-data